<div class="header-container">
  <span>
    <ng-content/>
  </span>
  <div class="right-block-container">
    <app-button
      actionType="add"
      tooltipPosition="under"
      (click)="showModal.set(true)"
    >
      {{ 'creation.new-btn' | translate }}
    </app-button>
    <app-language-dropdown/>
  </div>
</div>

<app-modal [isVisible]="showModal()" (closeEvent)="onModalClose()">
  <div modal-title>{{ 'creation.title' | translate }}</div>
  <app-to-do-create-item
    (taskToAdd)="onTaskAdded($event)"
  />
</app-modal>
