$to-do-list-width: 750px;

.todo-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(100% / 10 * 6);
  max-width: 100%;
  margin: 20px auto 0;

  h1 {
    font-size: 2em;
    color: #ff7a5c;
    margin-bottom: 1rem;
    text-align: center;
  }

  .task-container-empty {
    max-width: $to-do-list-width;
    text-align: center;
    font-size: large;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .task-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    max-width: $to-do-list-width;

    .task-list {
      flex: 2;
      width: 100%;
      list-style-type: none;
      padding-left: 0;
    }

    .item-view-container {
      flex: 1;
    }
  }

  app-to-do-filter, app-to-do-create-item {
    width: 100%;
    max-width: $to-do-list-width;
  }
}
