$to-do-list-width: 750px;

.todo-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(100% / 10 * 6);
  max-width: 100%;
  margin: 20px auto 0;

  h1 {
    font-size: 2em;
    color: #ff7a5c;
    margin-bottom: 1rem;
    text-align: center;
  }

  app-to-do-filter {
    width: 100%;
    max-width: $to-do-list-width;
  }

  .task-container-empty {
    max-width: $to-do-list-width;
    text-align: center;
    font-size: large;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .task-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    max-width: $to-do-list-width;

    .task-list {
      flex: 2.2;
      width: 100%;
      list-style-type: none;
      padding-left: 0;
    }

    .task-description {
      flex: 0.8;
      width: 100%;
      text-align: center;
      background-color: #fff;
      padding: 1rem;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      border-radius: 4px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;

      &:hover {
        transform: scale(1.02);
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .add-task-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    max-width: $to-do-list-width;

    .new-task-input {
      flex: 3;
      padding: 0.5rem;
      border-radius: 4px;
      outline: none;
      border: 1px solid #ccc;

      &::placeholder {
        color: #aaa;
      }
    }

    app-button {
      flex: 1;
    }
  }

  .add-description-container {
    margin-top: 1rem;
    width: 100%;
    max-width: $to-do-list-width;

    .new-description {
      padding: 0.5rem;
      border-radius: 4px;
      outline: none;
      border: 1px solid #ccc;
      width: 100%;
      box-sizing: border-box;

      &::placeholder {
        color: #aaa;
      }
    }
  }
}
