.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
  }

  .task-text {
    font-weight: bold;
    color: #333;
  }

  .update-task-input-container {
    width: 100%;

    input {
      width: 92%;
      height: 100%;
    }
  }

  .btn-block {
    width: 5.35rem;
  }
}

.selected {
  background-color: lightgrey;
}
