<li
  class="task-item"
  [class.selected]="isSelected()"
  (dblclick)="toggleToEditMode()"
>
  <ng-container *ngTemplateOutlet="isEditMode() ?  editMode : showMode"></ng-container>
</li>

<ng-template #showMode>
  <div class="task-content">
    <app-checkbox
      [itemId]="item().id"
    >
      Done
    </app-checkbox>
    <span class="task-text">{{ item().text }}</span>
  </div>
  <app-button
    actionType="delete"
    (clicked)="onDelete($event, item().id)"
  >
    Delete
  </app-button>
</ng-template>

<ng-template #editMode>
  <div class="update-task-input-container">
    <input
      type="text"
      [(ngModel)]="newText"
    />
  </div>
  <app-button
    actionType="save"
    class="btn-block"
    [isDisabled]="isNewTextEmpty()"
    (clicked)="onSave($event)"
  >
    Save
  </app-button>
</ng-template>
