.todo-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(100% / 3);
  max-width: 100%;
  margin: 20px auto 0;

  h1 {
    font-size: 2em;
    color: #ff7a5c;
    margin-bottom: 1rem;
    text-align: center;
  }

  .btn {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    color: white;
    transition: background-color 0.2s ease-in-out;


  }

  .task-list {
    width: 100%;
    max-width: 400px;
    list-style-type: none;
    padding-left: 0;

    .task-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      padding: 1rem;
      margin-bottom: 0.5rem;
      border-radius: 4px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

      &:hover {
        transform: scale(1.02);
        transition: all 0.2s ease-in-out;
      }

      .task-text {
        font-weight: bold;
        color: #333;
      }

      .delete-btn {
        background-color: #ff7a5c;

        &:hover {
          background-color: #e66b4d;
        }
      }
    }
  }

  .add-task-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    max-width: 400px;

    .new-task-input {
      flex: 3;
      padding: 0.5rem;
      border-radius: 4px;
      outline: none;
      border: 1px solid #ccc;

      &::placeholder {
        color: #aaa;
      }
    }

    .add-btn {
      flex: 1;
      background-color: darkseagreen;

      &:hover:not([disabled]) {
        background-color: green;
      }

      &:disabled {
        opacity: 0.5;
      }
    }
  }
}
