<div class="todo-component">
  <h1>Todo list</h1>
  <ul class="task-list">
    @for (toDo of toDoList; track $index) {
      <app-to-do-list-item
        [item]="toDo"
        (taskToRemove)="deleteTask($event)"
      />
    }
  </ul>
  <div class="add-task-container">
    <input
      type="text"
      placeholder="Новая задача..."
      class="new-task-input"
      [(ngModel)]="newTask"
    />
    <button
      type="button"
      class="btn add-btn"
      [disabled]="isNewTaskEmpty()"
      (click)="addTask()"
    >
      Add
    </button>
  </div>
</div>
