.app-container {
  display: flex;
  background-color: #fff;
  height: 100vh;

  > * {
    margin: 0.5rem;
  }
}

.content-container {
  width: 100%;
  padding: 2rem;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
