<div class="add-task-container">
  <input
    type="text"
    placeholder="{{ 'creation.input-placeholder' | translate }}"
    class="new-task-input"
    [(ngModel)]="newTask"
  />
  <app-button
    actionType="add"
    [isDisabled]="isNewTaskEmpty()"
    (clicked)="onAdding()"
  >
    {{ 'creation.add-btn' | translate }}
  </app-button>
</div>
<div class="add-description-container">
  <textarea
    rows="3"
    placeholder="{{ 'creation.description-placeholder' | translate }}"
    class="new-description"
    [(ngModel)]="newTaskDescription"
  ></textarea>
</div>
