<div>
  <app-header
    (taskToAdd)="addTask($event)"
  >
    Board
  </app-header>
  <app-loading-spinner [isLoading]="store.isLoading()">
    @if (store.ids().length === 0) {
      <app-empty-list/>
    } @else {
      <div cdkDropListGroup class="task-container">
        <!-- CREATED -->
        <div
          cdkDropList
          [cdkDropListData]="store.createdToDos()"
          cdkDropListSortingDisabled="false"
          (cdkDropListDropped)="onDrop($event, 'CREATED')"
          class="task-list-wrapper"
        >
          <h3>Created</h3>
          <ul class="task-list">
            @for (toDo of store.createdToDos(); track toDo.id) {
              <li cdkDrag [cdkDragData]="toDo" class="drag-item">
                <app-to-do-list-item
                  [item]="toDo"
                  (taskToRemove)="deleteTask($event)"
                  (taskToSave)="saveTask($event)"
                />
              </li>
            }
          </ul>
        </div>

        <!-- IN_PROGRESS -->
        <div
          cdkDropList
          [cdkDropListData]="store.inProgressToDos()"
          (cdkDropListDropped)="onDrop($event, 'IN_PROGRESS')"
          class="task-list-wrapper"
        >
          <h3>In progress</h3>
          <ul class="task-list">
            @for (toDo of store.inProgressToDos(); track toDo.id) {
              <li cdkDrag [cdkDragData]="toDo" class="drag-item">
                <app-to-do-list-item
                  [item]="toDo"
                  (taskToRemove)="deleteTask($event)"
                  (taskToSave)="saveTask($event)"
                />
              </li>
            }
          </ul>
        </div>

        <!-- COMPLETED -->
        <div
          cdkDropList
          [cdkDropListData]="store.completedToDos()"
          (cdkDropListDropped)="onDrop($event, 'COMPLETED')"
          class="task-list-wrapper"
        >
          <h3>Completed</h3>
          <ul class="task-list">
            @for (toDo of store.completedToDos(); track toDo.id) {
              <li cdkDrag [cdkDragData]="toDo" class="drag-item">
                <app-to-do-list-item
                  [item]="toDo"
                  (taskToRemove)="deleteTask($event)"
                  (taskToSave)="saveTask($event)"
                />
              </li>
            }
          </ul>
        </div>
      </div>
    }
  </app-loading-spinner>
</div>
