<div class="task-content">
  <app-loading-spinner [isLoading]="isLoading()">
    @if (item(); as task) {
      <div class="task-description">
        <span>{{ description() }}</span>
      </div>
      <div class="btn-container">
        <app-button
          actionType="save"
          (click)="onStatusChange($event, 'IN_PROGRESS')"
        >
          In progress >>
        </app-button>
        <app-button
          actionType="save"
          (click)="onStatusChange($event, 'COMPLETED')"
        >
          Completed >>
        </app-button>
      </div>
    }
  </app-loading-spinner>
</div>
