<div class="task-content">
  <app-loading-spinner [isLoading]="store.isLoading()">
    @if (item()) {
      <div class="task-description">
        <span>{{ description() }}</span>
      </div>
      <div class="btn-container">
        <app-button
          actionType="save"
          (click)="onStatusChange($event, 'IN_PROGRESS')"
        >
          {{ 'view.in-progress-btn' | translate }}
        </app-button>
        <app-button
          actionType="save"
          (click)="onStatusChange($event, 'COMPLETED')"
        >
          {{ 'view.completed-btn' | translate }}
        </app-button>
      </div>
    }
  </app-loading-spinner>
</div>
