.task-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;

  .task-list {
    flex: 1;
    width: 100%;
    list-style-type: none;
    padding-left: 0;
  }

  .item-view-container {
    flex: 2;
    height: 100%;
  }
}
