<div>
  <app-header
    (taskToAdd)="addTask($event)"
  >
    Backlog
  </app-header>
  <app-loading-spinner [isLoading]="store.isLoading()">
    @if (store.createdToDos().length === 0) {
      <app-empty-list/>
    } @else {
      <div class="task-container">
        <ul class="task-list">
          @for (toDo of store.createdToDos(); track toDo.id) {
            <app-to-do-list-item
              [item]="toDo"
              (taskToRemove)="deleteTask($event)"
              (taskToSave)="saveTask($event)"
              [isSelected]="toDo.id === selectedItemId()"
              (click)="onItemClick(toDo.id)"
              [appTooltip]="'Тисни здесь, чтоб увидеть описание задачи'"
            />
          }
        </ul>
        <div class="item-view-container">
          <router-outlet />
        </div>
      </div>
    }
  </app-loading-spinner>
</div>
